<div class="ml-20 mt-10 ">
  name: <%= @product.name %><br>
  description: <%= @product.description %><br>
  short_description: <%= @product.short_description %><br>
  cost: <%= @product.cost %><br>
  price: <%= @product.price %><br>
  alias: <%= @product.alias %><br>
  images: <%= image_tag @product.images.first %><br>
</div>