<%= form_for @product, html: { data: { turbo: false }, class: 'bg-orange-50' } do |f| %>
  <div class="bg-gray-50 px-5 pt-3 pb-8 mb-3 rounded-lg border border-gray-200">
    <div class="pt-5">
      <%= f.label :name, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= f.text_field :name, placeholder: 'T-Shirt', required: true, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>
    <div class="grid grid-cols-2 gap-6">
      <div class="pt-5">
        <%= f.label :description, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
        <%= f.text_area :description, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      </div>
      <div class="pt-5">
        <%= f.label :short_description, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
        <%= f.text_area :short_description, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      </div>
    </div>
  </div>

  <div class="bg-gray-50 px-5 pt-3 pb-8 mb-3 rounded-lg border border-gray-200" data-controller="file-upload">
    <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Image</div>
    <div class="grid gap-6 mt-2 mb-6 md:grid-cols-5" id="file-upload-content">
      <div class="flex items-center justify-center w-full">
        <label for="images-upload-field" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
          <div class="flex flex-col text-center items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <div class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">Click to upload</span> or drag and drop
            </div>
            <div class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</div>
          </div>
          <%= f.file_field :images, multiple: true, id: 'images-upload-field', accept: "image/*", class: 'hidden', data: { action: "change->file-upload#readURL" } %>
        </label>
      </div>
      <% if @product.images.any? %>
        <% @product.images.each do |image| %>
          <div class="relative">
            <%= image_tag image %>
            <div class="absolute top-0 right-0 bg-white w-6 h-6 text-center">
              <%= f.check_box :remove_images, { multiple: true }, image.id, nil %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="bg-gray-50 px-5 pt-3 pb-8 mb-3 rounded-lg border border-gray-200">
    <div class="grid grid-cols-2 gap-6">
      <div>
        <%= f.label 'Cost per item', class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
        <%= f.number_field :cost, required: true, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      </div>
      <div>
        <%= f.label :price, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
        <%= f.number_field :price, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      </div>
    </div>
  </div>

  <div class="bg-gray-50 px-5 pt-3 pb-8 mb-3 rounded-lg border border-gray-200">
    <div class="grid grid-cols-2 gap-6">
      <div>
        <%= f.label :sku, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
        <%= f.text_field :sku, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      </div>
      <div>
        <%= f.label :barcode, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
        <%= f.text_field :barcode, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      </div>
      <div>
        <%= f.label :status, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
        <%= f.select :status, Product.statuses.keys, {}, { class: 'bg-gray-50 border border-gray-300 capitalize text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' } %>
      </div>
      <div>
        <%= f.label :alias, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
        <%= f.text_field :alias, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      </div>
      <div>
        <%= f.label :tags, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
        <%= f.text_field :tags, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
      </div>
    </div>
  </div>

  <!--  <div>-->
  <%#= f.label :track_quantity, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
  <%#= f.check_box :track_quantity %>
  <!--  </div>-->

  <!--variants-->
  <div class="bg-gray-50 px-5 pt-3 pb-8 mb-3 rounded-lg border border-gray-200">
    <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Variants</div>
    <div data-controller="variant">
      <a href="#" class="font-semibold text-sm font-sans text-blue-500">
        <span>+</span>
        <span class="">Add options like size or color</span>
      </a>
    </div>
  </div>
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
<% end %>
