<!DOCTYPE html>
<html>
<head>
  <title>Namakadai</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= favicon_link_tag asset_path('favicon.png') %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<main>
  <%= render("shared/toasts/#{flash.keys[0]}", message: flash[flash.keys[0]], dismiss: 3000) if flash.present? %>
  <%= yield %>
</main>
</body>
</html>
