<!DOCTYPE html>
  <html>
  <head>
    <title><%= current_account.name.presence || 'Namakadai' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
  <%= render 'shared/flash' if flash.present? %>
  <div class="antialiased bg-gray-50 dark:bg-gray-900">
    <%= render 'shared/topbar' %>
    <%= render 'shared/sidebar' %>
    <main class="p-4 md:ml-32 h-auto pt-12">
      <%= yield %>
    </main>
  </div>
  </body>
</html>
